/* src/styles/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    animation: fadeIn 0.8s ease-in-out;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: border 0.3s;
}

.login-input:focus {
    border-color: #2575fc;
}

.login-button {
    margin-top: 15px;
    padding: 12px;
    background: linear-gradient(90deg, #6a7b86, #d4c5cf);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: linear-gradient(180deg, #6a7b86, #d4c5cf);
}

.login-register-text {
    margin-top: 15px;
    color: #555;
}

.login-register-text a {
    color: #2575fc;
    text-decoration: none;
    font-weight: 500;
}

.login-register-text a:hover {
    text-decoration: underline;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .login-input {
    width: 100%;
    padding-right: 40px;
    /* space for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #777;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #2575fc;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}